.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.swipe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto 0;
}

.hidden {
  display: none;
}

.prompt {
  margin-top: 2vh;
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: black;
  }
}