.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-section {
  height: 45vh;
  position: relative;
  width: 70vw;
}

.help-button {
  position: absolute !important;
  top: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .card-section {
    height: 60vh;
  }

  .help-button {
    bottom: 0;
    right: 0;
    top: unset;
  }
}
