.legend {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header {
  margin: auto;
}

.arrow-left,
.arrow-right {
  justify-self: center;
  display: flex;
  margin: 0 1rem 1rem;
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 1.6em;
  }

  .header {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}